[report]
omit =
    tests/*
    generated_tests/*
    generated_tests_2/*
    final_tests/*
    */__init__.py

exclude_lines =
    # Enable the shorter 'nocover' pragma, must specify the original too
    pragma: no cover
    nocover
